* {
    font-family: 'Fira Sans', 'Dejavu Sans', 'Liberation Sans', 'OpenSans', 'Droid Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

nav.navbar {
  overflow: hidden;
  height: 48px;
  line-height: 48px;
  position: relative;
  margin-bottom: 0;
  background-color: #333333;
  color: #ecfcbc;
}

.navbar h1 {
  margin: 0% 4%;
  padding: 0;
  font-size: 32px;
  float: left;
  color: #ccf823;
}

.navbar ul {
  margin: 0% 2%;
  padding: 0;
  list-style: none;
}

.navbar li {
  float: left;
  margin: 0 1em;
}

.navbar li a {
  color: #ecfcbc;
  text-decoration: none;
}

.right-menu {
  float: right;
}

.panel {
    width: 100%;
}

.panel h1, .panel h2, .panel h3 {
    text-align: center;
    position: relative;
}

#home {
    background-color: #abc837;
    padding-top: 13%;
    padding-bottom: 10%;
}

#home > h1 {
    color: #3e4837;
    font-size: 67px;
    margin-bottom: 0;
}

#home > h2 {
    color: #2d5016;
    font-weight: 300;
    margin-bottom: 0;
}

#home > h3 {
    color: #3e4837;
    font-size: 35px;
    font-weight: 300;
    margin-top: 20px;
}
